@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}


.default-button{
  @apply bg-blue-500 text-white px-4 py-3 rounded mr-2 ;
}
